// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

// $body-font-family: 'Poppins', 'sans-serif';
// $heading-font-family: 'Poppins', 'sans-serif';
// $font-size-root: 18px;
// $messages-font-size: 14px;
// @import '~vuetify/src/styles/styles.sass';
.grid-item-border {
  border: 1px solid #d3d3d3;
  flex-direction: column;
  position: relative;
  display: flex;
  height: 100%;
  border-radius: 4px;
  background: white;
}

.container {
  touch-action: none;
}

.draggable {
  touch-action: none;
}

.vue-grid-item {
  touch-action: none;
}
